@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.ant-btn-primary {
    background: rgb(59 130 246);
}